exportPattern("^[[:alpha:]]+")
import(methods)
import(RColorBrewer)
importFrom("gplots",heatmap.2)
importFrom("matrixStats",rowVars)
importFrom("utils","data")
importFrom("grDevices", "colorRampPalette", "palette")
importFrom("graphics", "plot", "abline", "legend", "lines", "points")
importFrom("stats", "lm", "density", "var")
export(MultiMeasure)
exportMethods(
	fitConsensus, 
	plotOneFit, 
	plotMarginals,
	plotMostDiscordant
	)

